{% extends 'taskapp/base.html' %}
{% load static %}
{% block head %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
{% endblock %}

{% block content %}
<div class="container mt-4">
    <h4>{{ request.user.email }}</h4>
    <form type="submit" id="addtask">
        <!--<input type="text" id="new-task" class="form-control" placeholder="Add Task..."></input><br/>
        <input type="date" id="due-date" class="form-control" value="{{ current_date }}"></input>
        <button 
            type="button" 
            id="new-task-button" 
            class="btn btn-primary"
            onclick="addTask()">
                Add Task
        </button>-->
        <button type="button" id="try-add-task" class="btn btn-secondary btn-sm" onclick="addNewTaskRow()">Add Task +</button>
    </form>
    <br/>
    <table id="table" class="table table-bordered">
        <thead>
            <th></th>
            <th>Task</th>
            <th>Due Date</th>
            <th></th>
            <th></th>
        </thead>
        <form>
            <tbody id="task-table">
            </tbody>
        </form>
    </table>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Delete Task Confirmation</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div id="modal_div" class="modal-body">
        Are you sure you want to delete this task?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-danger btn-sm" id="task-delete" data-bs-dismiss="modal">Delete</button>
      </div>
    </div>
  </div>
</div>

<script>


    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    const csrftoken = getCookie('csrftoken');

    // ---------------------- POPULATING TABLE -------------------------------
    fetch('http://127.0.0.1:8000/api/tasks/')
        .then(response => response.json())
        .then(data => {
            for (let i = 0; i < data.length; i++) {
                let mod_date_clean = "";
                let ready_date = "";

                if (data[i].due_date) {
                    let mod_date = data[i].due_date
                    let date_string = mod_date.toString()
                    let mod_date_array = date_string.split('T')
                    mod_date_clean = mod_date_array[0]
                }
                
                if (data[i].completed) {
                    completed_image = "{% static "favicons\check-circle-green.svg" %}";

                } else {
                    completed_image = "{% static "favicons\check-circle-black.svg" %}";
                }
                
                delete_task_image = "{% static "favicons\x-black.svg" %}";

                addTaskRow(delete_task_image, data[i].id, data[i].completed, data[i].name, mod_date_clean, "blur_on")
                
            };

        });


    
    // --------------------- FOR ADDING TASKS (NOT USING ANYMORE) -------------------------------
    function addTask() {
        const name = document.getElementById('new-task').value;

        if (name !== "") {
            const data = {
                name: name,
                created_by: {{ request.user.id }},
            };

            fetch('http://127.0.0.1:8000/api/tasks/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrftoken,
                },
                body: JSON.stringify(data),
            })
                .then(response => response.json())
                .then(data => {
                    let mod_date_clean = ""
                    if (data.due_date) {
                        let mod_date = data.due_date
                        let date_string = mod_date.toString()
                        let mod_date_array = date_string.split('T')
                        mod_date_clean = mod_date_array[0]
                    }

                    addTaskRow(delete_task_image, data.id, data.completed, data.name, mod_date_clean, "blur_on");

                    document.getElementById('new-task').value = ""
                });

            console.log(data);
            console.log('New Item Clicked!');
                console.log("Not Blank")
        } else {
            console.log("Blank!")
        }
        
    };

    // ----------------------- FOR DELETING TASKS (NOT USING ANYMORE) -------------------------
    function deleteThisRow(row_id) {
        let element = document.getElementById('item_' + row_id);
        element.remove()
        console.log(element);
        console.log('Delete Clicked', row_id);
        return fetch('http://127.0.0.1:8000/api/tasks/' + String(row_id), {
            method: 'DELETE',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': csrftoken,
            },
        }).then(() => {
            console.log('removed')
        });
    };

    // ----------------------- FOR EDITING TASK NAMES -------------------------
    function editTask(task_id) {
        let name = document.getElementById('name_' + task_id).value;

        console.log(name)
        const data = {
            name: name,
        }

        console.log('Name Updated', task_id);
        return fetch('http://127.0.0.1:8000/api/tasks/' + String(task_id) + '/', {
            method: 'PATCH',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': csrftoken,
            },
            body: JSON.stringify(data),
        }).then(() => {
            console.log('Changed!')
        });
    };

    // --------------------- FOR CHANGING DUE DATE -----------------------
    function dueDateChange(task_id) {
        const due_date = document.getElementById('date_change_' + task_id).value;
        const data = {
            due_date: due_date,
        };
        console.log(due_date);
        console.log('Date Updated', task_id);
        return fetch('http://127.0.0.1:8000/api/tasks/' + String(task_id) + '/', {
            method: 'PATCH',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': csrftoken,
            },
            body: JSON.stringify(data),
        }).then(() => {
            console.log('Changed!')
        });
    };


    // ----------------------- FOR MARKING TASKS AS COMPLETED -----------------
    function completedTask(task_id) {
        let completed = document.getElementById('completed_' + task_id).value;
        console.log("Current Value: " + completed)
        if (completed == "true") {
            completed = false;
            completed_image = "{% static "favicons\check-circle-black.svg" %}";
        } else {
            completed = true;
            completed_image = "{% static "favicons\check-circle-green.svg" %}";
        }

        const data = {
            completed: completed,
        };
        console.log("New Value: " + completed)

        return fetch('http://127.0.0.1:8000/api/tasks/' + String(task_id) + '/', {
            method: 'PATCH',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': csrftoken,
            },
            body: JSON.stringify(data),
        }).then(() => {
            document.getElementById('comp_col_' + task_id).innerHTML = '<input type="image" src=' + completed_image + ' id="completed_' + task_id + '" value=' + completed + ' onclick="completedTask(' + task_id + ')" />';
        });
    };

    // ----------------------- ADDS BLANK ROW AT BOTTOM OF TABLE ----------------------------
    function addNewTaskRow() {
        let completed_image = "{% static "favicons\check-circle-black.svg" %}";
        const delete_task_image = "{% static "favicons\x-black.svg" %}"; 

        addTaskRow(delete_task_image)

        document.getElementById('name_0').focus();
        
        let new_task = document.getElementById('name_0')
        new_task.addEventListener('blur', function () {
            if (new_task.value !== "") {
                console.log(new_task.value)
                const data = {
                    name: new_task.value,
                    created_by: {{ request.user.id }},
                };

                fetch('http://127.0.0.1:8000/api/tasks/', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': csrftoken,
                    },
                    body: JSON.stringify(data),
                })
                    .then(response => response.json())
                    .then(data => {
                        let delete_row = document.getElementById('item_0')
                        delete_row.remove()
                        addTaskRow(delete_task_image, data.id, data.completed, data.name, "", "blur_on");
                    })
            } else {
                let delete_row = document.getElementById('item_0')
                console.log(delete_row)
                delete_row.remove()
                console.log('Blank')
            }
        })

    };

    // ------------------------ REPETITIVE CODE CHANGED TO A FUNCTION --------------------
    function addTaskRow(delete_image, id = 0, completed = false, name = "", date = "", blur_option = "") {
        
        // prevents the editTask() function from happening on new tasks added prior to the page being refreshed
        if (blur_option == "blur_on") {
            blur = 'onblur="editTask(' + id + ')"'
        } else {
            blur = ""
        }

        //sets the color of the completed image based on whether or not it is completed
        if (completed) {
            completed_image = "{% static "favicons\check-circle-green.svg" %}";
        } else {
            completed_image = "{% static "favicons\check-circle-black.svg" %}";
        }

        document.getElementById('task-table').innerHTML += 
        '<tr class="table-row" id="item_' + id + '">' +
            //completed column
            '<td id="comp_col_' + id + '" style="width:40px; text-align: center;"><input type="image" src=' + completed_image + ' id="completed_' + id + '" value=' + completed + ' onclick="completedTask(' + id + ')" />' +
            //task name column
            '<td><input id="name_' + id + '" type="text" value="' + name + '" ' + blur + ' class="task-edit-text"></input></td>' +
            //due date column
            '<td style="width:100px;"><input id="date_change_' + id + '" type="date" value="' + date + '" onblur="dueDateChange(' + id + ')" class="date-edit"></input</td>' +
            //delete task column
            //'<td style="width:40px; text-align: center;"><input type="image" src=' + delete_image + ' onclick="deleteThisRow(' + id + ')"></input></td>' +
            //delete task column
            '<td style="width:40px; text-align: center;"><input type="image" src=' + delete_image + ' data-bs-toggle="modal" data-bs-target="#exampleModal" onclick="deleteTaskModal(' + id + ')"></input></td>' +
            //blank column
            '<td style="width:200px;"></td>' +
        "</tr>";
    };

    // ------------------------- DELETE TASK WITH MODAL CONFIRMATION -----------------------
    function deleteTaskModal(task_id) {
        //let modal_delete = document.getElementById('task-delete')
        //modal_delete.id = 'task-delete-' + task_id
        let modal_text = document.getElementById('modal_div')
        let name = document.getElementById('name_' + task_id).value
        console.log(name)
        modal_text.innerHTML = "Are you sure you want to delete task:<br/>" + name + "?"
        //console.log(modal_delete.id)

        let delete_button = document.getElementById('task-delete')
        delete_button.addEventListener('click', function() {
            let element = document.getElementById('item_' + task_id);
            element.remove()
            //console.log(element);
            console.log('Delete Clicked', task_id);
            return fetch('http://127.0.0.1:8000/api/tasks/' + String(task_id), {
                method: 'DELETE',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrftoken,
                },
            }).then(() => {
                console.log('removed')
            });
        })
    }
</script>

{% endblock %}