{% extends 'taskapp/base.html' %}
{% load static %}
{% block head %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
        // ----------------------- Table Search -------------------------
        /*
        $(document).ready(function(){
            $("#search-field").on("keyup", function() {
                var value = $(this).val().toLowerCase();
                $("#task-table tr").filter(function() {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                })
            })
        })
        */
    </script>
{% endblock %}

{% block content %}

<div class="p-4">
    <h4>{{ request.user.email }}</h4>
    <form type="submit" id="addtask">
        <button type="button" id="try-add-task" class="btn btn-primary btn-sm" onclick="addNewTaskRow()">Add Task +</button>
        <input id="search-field" type="text" placeholder="Search...">
        <!--<button type="button" id="hide-completed" class="btn btn-secondary btn-sm">Hide Completed</button>-->
        <select id="filter-complete">
            <option id="show-all" value="all">All Tasks</option>
            <option id="show-complete-only" value="complete">Complete</option>
            <option id="show-incomplete-only" value="incomplete">Incomplete</option>
        </select>
    </form>
    <br/>
    <table id="table" class="table table-bordered">
        <thead>
            <th class="no-sort" onclick="sortTableCol(0)"></th>
            <th class="no-sort" onclick="sortTableCol(1)">Task</th>
            <th class="no-sort" onclick="sortTableCol(2)">Due Date</th>
            <th class="no-sort"></th>
        </thead>
            <tbody id="task-table-body">
                {% for task in tasks %}
                    <tr class="item-row-comp" id="item-row-{{task.id}}">
                        <td class="completed-col" id="completed-cell-{{task.id}}">
                            {% if task.completed %}
                                <input
                                    type="image" 
                                    src="{% static "favicons\check-circle-green.svg" %}" 
                                    id="completed-image-{{task.id}}"
                                    value="true"
                                    onclick="completedTask({{task.id}})"
                                />
                            {% else %}
                                <input 
                                    type="image" 
                                    src="{% static "favicons\check-circle-black.svg" %}"
                                    id="completed-image-{{task.id}}"
                                    value="false"
                                    onclick="completedTask({{task.id}})"
                                />
                            {% endif %}
                        </td>
                        <td class="task-name-col" id="task-name-cell-{{task.id}}">
                            <input 
                                {% if task.completed %}
                                    class="task-edit-text complete"
                                {% else %} 
                                    class="task-edit-text incomplete"
                                {% endif %}
                                type="text" 
                                value="{{task.name}}" 
                                id="task-name-{{task.id}}" 
                                onfocus="storeOldName({{task.id}})"
                                onblur="editTask({{task.id}})"
                            />
                        </td>
                        <td class="due-date-col" id="due-date-cell-{{task.id}}">
                            <input 
                                {% if task.completed %}
                                    class="date-edit complete"
                                {% else %}
                                    class="date-edit incomplete"
                                {% endif %}
                                type="date" value="{{task.due_date|date:"Y-m-d"}}"
                                id="due-date-{{task.id}}"
                                onblur="dueDateChange({{task.id}})"
                            />
                        </td>
                        <td class="delete-col" id="delete-cell-{{task.id}}">
                            <input
                                type="image" 
                                src="{% static "favicons\x-black.svg" %}" 
                                data-bs-toggle="modal"
                                data-bs-target="#exampleModal"
                                onclick="deleteTaskModal({{task.id}})"
                            />
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
    </table>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Delete Task Confirmation</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div id="modal_div" class="modal-body">
        Are you sure you want to delete this task?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-danger btn-sm" id="task-delete" data-bs-dismiss="modal">Delete</button>
      </div>
    </div>
  </div>
</div>

<!-- Toast -->
<div class="position-fixed bottom-0 start-0 p-3" style="z-index: 11">
  <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
      <!--<img src="#" class="rounded me-2" alt="...">-->
      <strong class="me-auto">Notification</strong>
      <small>Nothing here for now...</small>
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body" style="background-color: white;">
      You have deleted a task.
    </div>
  </div>
</div>

<script>


    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    const csrftoken = getCookie('csrftoken');

    // ---------------------- STORE OLD TASK VALUE ----------------------
    function storeOldName(task_id) {
        let old_name = document.getElementById('task-name-' + task_id).value
        console.log(old_name)
        //return old_name
    }
    
    // ----------------------- FOR EDITING TASK NAMES -------------------------
    function editTask(task_id) {
        let name = document.getElementById('task-name-' + task_id).value;
        const name_hold = name
        if (name !== "") {
            console.log(name)
            const data = {
                name: name,
            }

            console.log('Name Updated', task_id);
            return fetch('http://127.0.0.1:8000/api/tasks/' + String(task_id) + '/', {
                method: 'PATCH',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrftoken,
                },
                body: JSON.stringify(data),
            }).then(() => {
                console.log('Changed!')
            });
        } else {
            document.getElementById('task-name-' + task_id).innertext = name
            console.log(old_name + 'this line')
        }
    };

    // --------------------- FOR CHANGING DUE DATE -----------------------
    function dueDateChange(task_id) {
        const due_date = document.getElementById('due-date-' + task_id).value;
        console.log("date: ", due_date)
        if (due_date !== '') {
            const data = {
                due_date: due_date,
            };
            console.log(due_date);
            console.log('Date Updated', task_id);
            return fetch('http://127.0.0.1:8000/api/tasks/' + String(task_id) + '/', {
                method: 'PATCH',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrftoken,
                },
                body: JSON.stringify(data),
            }).then(() => {
                console.log(data)
                console.log('Changed!')
            });
        } else {
            console.log("nothing")
        }
    };


    // ----------------------- FOR MARKING TASKS AS COMPLETED -----------------
    function completedTask(task_id) {
        let completed = document.getElementById('completed-image-' + task_id).value;
        console.log("Current Value: " + completed)
        if (completed == "true") {
            completed = false;
            completed_image = "{% static "favicons\check-circle-black.svg" %}";
        } else {
            completed = true;
            completed_image = "{% static "favicons\check-circle-green.svg" %}";
        }
        
        const data = {
            completed: completed,
        };
        console.log("New Value: " + completed)

        return fetch('http://127.0.0.1:8000/api/tasks/' + String(task_id) + '/', {
            method: 'PATCH',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': csrftoken,
            },
            body: JSON.stringify(data),
        }).then(() => {
            document.getElementById('completed-cell-' + task_id).innerHTML = '<input type="image" src=' + completed_image + ' id="completed-image-' + task_id + '" value=' + completed + ' onclick="completedTask(' + task_id + ')" />';
            let task_name = document.getElementById('task-name-' + task_id)
            let due_date = document.getElementById('due-date-' + task_id)
            if (completed == true) {
                task_name.classList.remove('incomplete')
                task_name.classList.add('complete')
                due_date.classList.remove('incomplete')
                due_date.classList.add('complete')
            } else {
                task_name.classList.remove('complete')
                task_name.classList.add('incomplete')
                due_date.classList.remove('complete')
                due_date.classList.add('incomplete')
            }
            console.log('change completed')
        });
        
    };

    // ----------------------- ADDS BLANK ROW AT BOTTOM OF TABLE ----------------------------
    function addNewTaskRow() {
        let completed_image = "{% static "favicons\check-circle-black.svg" %}";
        const delete_task_image = "{% static "favicons\x-black.svg" %}"; 

        addTaskRow(delete_task_image)

        document.getElementById('task-name-0').focus();
        
        let new_task = document.getElementById('task-name-0')
        new_task.addEventListener('blur', function () {
            if (new_task.value !== "") {
                console.log(new_task.value)
                const data = {
                    name: new_task.value,
                    created_by: {{ request.user.id }},
                };

                fetch('http://127.0.0.1:8000/api/tasks/', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': csrftoken,
                    },
                    body: JSON.stringify(data),
                })
                    .then(response => response.json())
                    .then(data => {
                        let delete_row = document.getElementById('item-row-0')
                        delete_row.remove()
                        addTaskRow(delete_task_image, data.id, data.completed, data.name, "", "blur_on");
                    })
            } else {
                let delete_row = document.getElementById('item-row-0')
                console.log(delete_row)
                delete_row.remove()
                console.log('Blank')
            }
        })

    };

    // ------------------------ REPETITIVE CODE CHANGED TO A FUNCTION --------------------
    function addTaskRow(delete_image, id = 0, completed = false, name = "", date = "", blur_option = "") {
        
        // prevents the editTask() function from happening on new tasks added prior to the page being refreshed
        if (blur_option == "blur_on") {
            blur = 'onblur="editTask(' + id + ')"'
        } else {
            blur = ""
        }

        //sets the color of the completed image based on whether or not it is completed
        if (completed) {
            completed_image = "{% static "favicons\check-circle-green.svg" %}";
        } else {
            completed_image = "{% static "favicons\check-circle-black.svg" %}";
        }

        document.getElementById('task-table-body').innerHTML += 
        '<tr class="item-row-comp" id="item-row-' + id + '">' +
            //completed column
            '<td class="completed-col" id="completed-cell-' + id + '"><input type="image" src=' +
                completed_image + ' id="completed_' + id + '" value=' + completed +
                ' onclick="completedTask(' + id + ')" />' +
            //task name column
            '<td class="task-name-col" id="task-name-cell-' + id +
                '"><input id="task-name-' + id + '" type="text" value="' + name + '" ' + blur + 
                ' class="task-edit-text incomplete"></input></td>' +
            //due date column
            '<td class="due-date-col" id="due-date-cell-' + id + '"><input id="due-date-' + id + '" type="date" value="' + date + 
                '" onblur="dueDateChange(' + id + ')" class="date-edit"></input</td>' +
            //delete task column
            '<td class="delete-col" id="delete-cell-' + id + 
                '"><input type="image" src=' + delete_image + 
                ' data-bs-toggle="modal" data-bs-target="#exampleModal" onclick="deleteTaskModal(' + id + ')"></input></td>' +
        "</tr>";
    };

    // ------------------------- DELETE TASK WITH MODAL CONFIRMATION -----------------------
    function deleteTaskModal(task_id) {
        let modal_text = document.getElementById('modal_div')
        let name = document.getElementById('task-name-' + task_id).value
        console.log(name)
        modal_text.innerHTML = "Are you sure you want to delete task:<br/>" + name

        let delete_button = document.getElementById('task-delete')
        delete_button.addEventListener('click', function() {
            let element = document.getElementById('item-row-' + task_id);
            element.remove()
            console.log('Delete Clicked', task_id);
            return fetch('http://127.0.0.1:8000/api/tasks/' + String(task_id), {
                method: 'DELETE',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrftoken,
                },
            }).then(() => {
                console.log('removed')
            });
        })
    }

    // -------------------------- ACTIVATES THE TOAST ----------------- 
    var toastTrigger = document.getElementById('task-delete')
    var toastLiveExample = document.getElementById('liveToast')
    if (toastTrigger) {
        toastTrigger.addEventListener('click', function () {
        var toast = new bootstrap.Toast(toastLiveExample)

        toast.show()
        })
    }

    // ------------ ALLOWS YOU TO SAVE A TASK BY HITTING ENTER ------------
    // --------------THIS CRASHES OUT WHEN I ADD A NEW TASK..................................................................................................................
    let editText = document.getElementsByClassName('task-edit-text')
    for (let x = 0; x < editText.length; x++) {
        let change_task_name = editText[x].id
        editText[x].addEventListener('keydown', function (e) {
            if (e.key === "Enter") {
                document.getElementById(change_task_name).blur()
            }
        })
    }
    

    /* -------------- HIDES COMPLETED ROWS --------------------------
    const hideCompleted = document.getElementById('hide-completed')
    hideCompleted.addEventListener('click', function () {
        const item_row = document.getElementsByClassName('item-row-comp')
        for (i = 0; i < item_row.length; i++) {
            const children_list = item_row[i].children[1].children[0].classList
            for (x = 0; x < children_list.length; x++) {
                let row_display = item_row[i].style.display
                if (children_list[x] == "complete") {
                    if (row_display == "none") {
                        document.getElementById('hide-completed').innerText = "Hide Completed"
                        item_row[i].style.display = ""
                    } else {
                        document.getElementById('hide-completed').innerText = "Show Completed"
                        item_row[i].style.display = "none"
                    }
                }
            }
        }
    })
    */

    // ----------- SELECT DROPDOWN FOR FILTERING COMPLETE, INCOMPLETE, ALL -------------------
    const completeFilterOption = document.getElementById('filter-complete')
    completeFilterOption.addEventListener('change', function() {
        const item_row = document.getElementsByClassName('item-row-comp')
        if (completeFilterOption.value == "complete") {
            for (i = 0; i < item_row.length; i++) {
                const children_list = item_row[i].children[1].children[0].classList
                for (x = 0; x < children_list.length; x++) {
                    if (children_list[x] == "incomplete") {
                        item_row[i].style.display = "none"
                    } else {
                        item_row[i].style.display = ""
                    }
                }
            }
        } else if (completeFilterOption.value == "incomplete") {
            for (i = 0; i < item_row.length; i++) {
                const children_list = item_row[i].children[1].children[0].classList
                for (x = 0; x < children_list.length; x++) {
                    if (children_list[x] == "complete") {
                        item_row[i].style.display = "none"
                    } else {
                        item_row[i].style.display = ""
                    }
                }
            }
        } else {
            for (i = 0; i < item_row.length; i++) {
                const children_list = item_row[i].children[1].children[0].classList
                for (x = 0; x < children_list.length; x++) {
                    item_row[i].style.display = ""
                }
            }
        }   
    })
    
    // ---------------- SORT A COLUMN -----------------------
    function sortTableCol(n) {
        const item_row = document.getElementsByClassName('item-row-comp')
        const tbody = document.getElementById('task-table-body')
        const theads = document.getElementsByTagName('th')
        const values = []
        const rows = []
        let sorted_values

        // Created an array of all task names and task rows
        for (let i = 0; i < item_row.length; i++) {
            const task_value = item_row[i].children[n].children[0].value
            values.push(task_value.toLowerCase())
            rows.push(item_row[i])
        }

        // reset class on each table head so that ascending always occurs first
        for (let i = 0; i < theads.length; i++) {
            if (i != n) {
                theads[i].classList.remove("desc")
                theads[i].classList.remove("asc")
                theads[i].classList.add("no-sort")
            }
        }

        // choose ascending or descending based on class of table head
        sort_class = theads[n].classList.value //change 1 to n
        if (sort_class.includes("no-sort") || sort_class.includes("desc")) {
            //change to ascending if there is no sort or it's descending
            sorted_values = values.sort()
            theads[n].classList.remove("no-sort")
            theads[n].classList.remove("desc")
            theads[n].classList.add('asc')
        } else if (sort_class.includes("asc")) {
            // change to descending if it's currently ascending
            sorted_values = values.reverse()
            theads[n].classList.remove("asc")
            theads[n].classList.add('desc')
        }
        
        //removes all rows from the table
        for (let i = item_row.length - 1; i > -1; i--) {
            item_row[i].remove()
        }
         
        for (let i = 0; i < values.length; i++) {
            // run through each value from the column in ascending or descending order
            for (let j = 0; j < rows.length; j++) {
                //when the value in the row array matches the asc or desc item, append the row
                row_value = rows[j].children[n].children[0].value
                if (sorted_values[i] == row_value.toLowerCase()) {
                    tbody.appendChild(rows[j])
                }
            }
        }
    }

</script>

{% endblock %}