@media (prefers-reduced-motion:no-preference) {
    :root {
        scroll-behavior: smooth
    }
}

div.sidebar {
    height: 100%;
    width: 200px;
    background-color: black;
    position: fixed;
    z-index: 1;
    left: 0;
    overflow-x: hidden;
    color: white;
    padding-top: 10px;
}

div.main {
    margin-left: 200px;
    /*padding: 20px;*/
}

.sidebar-button {
    height: 40px;
    width: 200px;
    background-color: black;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 30px;

}



a.sidebar-link {
    display: block;
    text-decoration: none;
    color: white;
}

.sidebar-button:hover {
    background-color: rgb(95, 95, 95);
}

.no-outline:focus {
    outline: none;
}

input[type=text].task-edit-text {
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
    background-color: white;
    width: 100%;
}

input[type=date].date-edit {
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
    background-color: white;
    width: 100%;
}

.completed-col {
    width: 40px;
    text-align: center;
}

.due-date-col {
    width: 100px;
}

.delete-col {
    width: 40px;
    text-align: center;
}

input.complete {
    color: gray;
}

table {
    width: 100%;
    border-collapse: separate;
    border-spacing: .0001rem;
}

tr {
    display: "";
}

td,
th {
    border-width: 1px;
    border-color: #dee2e6;
    padding: .5rem;
}

/*
tr:hover {
    background-color: #e8e8e8;
}
*/
th.sortable {
    cursor: pointer;
}

.form-select-1 {
    display: block;
    width: 125px;
    padding: .375rem 2.25rem .375rem .75rem;
    -moz-padding-start: calc(0.75rem - 3px);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right .75rem center;
    background-size: 16px 12px;
    border: 1px solid #ced4da;
    border-radius: .375rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none
}

@media (prefers-reduced-motion:reduce) {
    .form-select {
        transition: none
    }
}

.form-select-1:focus {
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 .25rem rgba(13, 110, 253, .25)
}

.form-select-1[multiple],
.form-select-1[size]:not([size="1"]) {
    padding-right: .75rem;
    background-image: none
}

.form-select-1:disabled {
    background-color: #e9ecef
}

.form-select-1:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #212529
}

.form-select-sm-1 {
    padding-top: .25rem;
    padding-bottom: .25rem;
    padding-left: .5rem;
    font-size: .875rem;
    border-radius: .25rem
}

.form-select-lg-1 {
    padding-top: .5rem;
    padding-bottom: .5rem;
    padding-left: 1rem;
    font-size: 1.25rem;
    border-radius: .5rem
}